@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --color-black:#1D1D1B;
    --color-white:#FFFFFF;
    --color-primary1:#662483;
    --color-primary2:#39A8E0;
    --color-primary3:#E6007E;
    --color-primary4:#DEDC00;
    --color-secondary1:#D38E49;
    --color-secondary2:#C47B38;
    --color-secondary3:#9F4316;
}

h1, h2, h3, h4, a, button{
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.header{
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    margin-top: 100px;
}

.header__menu{}

.header__menuItem{
    display: inline-block;
}

.header__menuLink{
    display: block;
    text-align: center;
    list-style: none;
    background-color: var(--color-white);
    width: 90px;
}

.header__menuButton{
    width: 132.72px;
    height: 34.44px;
    border: none;
    border-radius: 27px;

    background-color: #E6007E;
    color: var(--color-white);
}


.banner{
    height: 508px;
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.banner__direita{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.banner__direitaMoney{
    margin-top: 60px;
    width: 107.76px;
}

main{
    background-color: var(--color-primary4);
    padding: 30px;

}

main h2{
    text-align: center;
    margin: 30px;
}

.products__featured{
    padding: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.products{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.products__card{
    width: 313px;
    
    padding: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    border: 1px solid var(--color-white);

    margin-bottom: 120px;
}

.card__img{
    width: 287px;
    border-radius: 10px 10px 0 0;
    
}

.card__title{
    padding: 5px 10px;
    text-align:left;
}

.card__text{
    padding: 10px 10px;
}



.banner_FAQ{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-white);
    margin: 0 auto;
    max-width: 1216px;

    margin-top: -30px;
    border-radius: 10px;

    padding: 40px;
}

.banner_FAQleft{
    display: flex;
    flex-direction: column;
    
}

.banner_FAQleft h4{
    margin-bottom: 20px;
}

.banner_FAQleft button{
    width: 132.72px;
    height: 34.44px;
    border: none;
    border-radius: 27px;
    margin-top: 20px;

    background-color: #E6007E;
    color: var(--color-white);
}

.banner_FAQright{
    margin-top: -90px;
}



.grid{
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 15px;
}
