*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero_img{
    background-color: hsl(0, 0%, 11%);
}

h1, h2, h3{
    font-family: "Orbitron", sans-serif;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}